* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* Header */
.heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 100px;
  position: relative; 
}


.all-nav{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
    
}

.mouka-nav{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 150px;

}
.navlinks{
  display: flex;
  gap: 40px;
}

.hamburger{
  display: none;
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.sidebar-wrapper {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 300px;
  z-index: 999;
  background-color: rgb(255, 255, 255,0.7);
  backdrop-filter: blur(10px);
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  padding: 20px;
}

.sidebar{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;

}

.sidebar li a{
  width: 100%;
}

.sidebar svg .hamburger svg {
  pointer-events: none;
}

.nav-item{
  color: #317833;   
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.nav-item a{
  color: #317833;
}

.nav-item li a:hover{
  background-color: #f1f1f1;
}

.dropdown{
  display: flex;
  color: #317833;
  align-items: center;
  gap: 3px;
  
}
.our-products{
  display: flex;
  gap: 10px;
  align-items: center;
}


.dropdown-menu{
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
  list-style: none;
  padding: 10px 0;
  margin-top: 160px;
  border-radius: 10px;
}

.dropdown-menu li a {
  color: #00990a;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-menu li a:hover{
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-menu{
  display: block;
}

.moukalogo{
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.auth{
  cursor: pointer;
  display: flex; 
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.button1{
  border: 1px solid white; 
  border-radius: 5px 5px 5px 5px;
  background: linear-gradient(135deg, #00990a 0%, #48d56e 100%);
  height: 40px;
  width: 100px;
  cursor: pointer;
  color: white;  
}

.page-hero {
  background: linear-gradient(rgba(0,0,0,0.55), rgba(55, 55, 55, 0.55)), 
  url(/assests/svg.jpg) center/cover no-repeat;
  color: white;
  text-align: center;
  padding: 100px 20px 80px;
}

.page-hero h1 {
  font-size: 45px;
  margin-bottom: 1rem;
}

.page-hero p {
  font-size: 15px;
  max-width: 700px;
  margin: 0 auto;
}  

.title {
  padding: 60px 0;
}

h2.section-title {
  text-align: center;
  font-size: clamp(38px, 4vw, 50px);
  margin-bottom: 100px;
  color: #317833;
}

/* .section-title::after {
  content: '';
  width: 490px;
  height: 1px;
  display: block;
  margin: 15px auto 0;
  border-radius: 2px; 
  border: 10px dotted #317833;
  max-width: 100%; 
}  */

.products-grid {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 20px;
  max-width: 100%;  
  margin: auto;
}

.product-card {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 25px rgba(0,0,0,0.09);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.product-card:hover {
  transform: translateY(-12px);
  box-shadow: 0 18px 20px rgba(0,0,0,0.14);
}

.product-img {
  height: 200px;
  /* background: #eee; */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.product-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.product-card:hover .product-img img {
  transform: scale(1.08);
}

.product-info {
  padding: 24px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.product-title {
  font-size: 1.45rem;
  margin-bottom: 10px;
  color: #317833;
}

.product-desc {
  color: var(--gray);
  font-size: 0.98rem;
  margin-bottom: 16px;
  flex-grow: 1;
}

.product-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.price {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--primary);
}

.from {
  font-size: 0.95rem;
  color: #777;
}

.btn {
  display: inline-block;
  background: #317833;
  color: white;
  padding: 12px 24px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
  border: none;
  cursor: pointer;
  white-space: nowrap;
}

.btn:hover {
  transform: translateY(-2px);
}

.footer-note {
  text-align: center;
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid #eee;
  font-size: 0.9rem;
  /* color: #777; */
}

.mouka-footer {
  background-color: #1d4d2b; 
  color: #ffffff;
  padding: 60px 20px 20px;
}

.footer-content {
  max-width: 1200px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 40px;
}

.footer-brand h2 {
  color: #ffcc00; 
  margin-bottom: 15px;
  font-size: 1.8rem;
}

.footer-brand p {
  line-height: 1.6;
  font-size: 15px;
  color: #d1d1d1;
}

.footer-links h3 {
  font-size: 1.1rem;
  margin-bottom: 20px;
  display: inline-block;
  padding-bottom: 5px;
  color:  #ffcc00;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 12px;
}

.footer-links a {
  color: #d1d1d1;
  text-decoration: none;
  transition: color 0.3s ease;
}

 .footer-bottom {
  margin-top: 50px;
  padding-top: 20px;
  border-top: 1px solid #c5c2c2;
  text-align: center;
  font-size: 15px;
  color: #d1d1d1;
  width: 70%;
  margin: auto;  
}

.socials{
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  /* heading */
  .heading {
    padding-left: 40px;
    padding-right: 40px;
  }
  .hero-text h1 { font-size: 2.5rem; }
  .all-nav { display: none; }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  h2.section-title {
    /* font-size: 40px; */
    margin-bottom: 70px;
  }

  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .products-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

