* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* Header */
.heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 100px;
  position: relative; 
}


.all-nav{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
    
}

.mouka-nav{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 150px;

}
.navlinks{
  display: flex;
  gap: 40px;
}

.hamburger{
  display: none;
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.sidebar-wrapper {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 300px;
  z-index: 999;
  background-color: rgb(255, 255, 255,0.7);
  backdrop-filter: blur(10px);
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  padding: 20px;
}

.sidebar{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;

}

.sidebar li a{
  width: 100%;
}

.sidebar svg .hamburger svg {
  pointer-events: none;
}
.nav-item{
  color: #317833;   
  cursor: pointer;

}
.nav-item a{
  color: #317833;
}

.nav-item li a:hover{
  background-color: #f1f1f1;
}

.dropdown{
  display: flex;
  color: #317833;
  align-items: center;
  gap: 10px;
  
}
.our-products{
  display: flex;
  gap: 10px;
  align-items: center;
}

.dropdown-menu{
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
  list-style: none;
  padding: 10px 0;
  margin-top: 160px;
  border-radius: 10px;
}

.dropdown-menu li a {
  color: #00990a;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-menu li a:hover{
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-menu{
  display: block;
}

.moukalogo{
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.auth{
  cursor: pointer;
  display: flex; 
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.button1{
  border: 1px solid white; 
  border-radius: 5px 5px 5px 5px;
  background: linear-gradient(135deg, #00990a 0%, #48d56e 100%);
  height: 40px;
  width: 100px;
  cursor: pointer;
  color: white;  
}

body {
  margin: 0;
  padding: 0;
  color: #333;
  line-height: 1.7;
  min-height: 100vh;
}

.overlay {
  background: 
  url(/assests/pexels-photo-4545154.jpeg) center/cover no-repeat ;
  min-height: 100vh;
  color: white;
}

.mouka-pillow{
  text-align: center;
  padding-top: 40px;
}

.mouka-pillow h1 {
  font-size: 2.2em;
  margin: 0 0 20px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.5);
}

.mouka-pillow p.question {
  font-size: 1.7em;
  margin: 0 0 40px;
  font-style: italic;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px 60px;
}

section {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
  padding: 40px 30px;
  margin: 50px 0;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  color: #222;

}
.best {
  color: #025705;
  text-align: center;
  font-size: 2.2em;
  margin-bottom: 30px;
  position: relative;
  /* text-shadow: 2px 2px 8px rgba(0,0,0,0.5); */
}

.why-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;

}

.why-item {
  background: #f8fbff;
  padding: 25px;
  border-radius: 12px;
  border: 1px solid #e0efff;
  text-align: center;
}

.why-item h3 {
  color: #317833;
  margin-bottom: 15px;
}

.why-item p{
  font-style: italic;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 40px;

}


#products{
  background-color: transparent;
}

.pick {
  color: #317833;
  text-align: center;
  font-size: 2.2em;
  margin-bottom: 30px;
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
}

.product-card {
  background: white;
  border-radius: 16px;
  /* overflow: hidden; */
  box-shadow: 0 8px 20px rgba(0,0,0,0.12);
  transition: all 0.3s ease;
  text-align: center;
}

.product-card:hover {
  transform: translateY(-12px);
  box-shadow: 0 15px 35px rgba(0,0,0,0.18);
}

.product-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.product-info {
  padding: 20px;
}
.price {
  font-size: 1.1em;
  color: #222;
  font-weight: bold;
  margin: 12px 0;
}

.btn {
  display: inline-block;
  background: #317833;
  color: white;
  padding: 7px 24px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
  border: none;
  cursor: pointer;
}

.faq {
  margin-top: 40px;
  max-width: 1500px;
  /* text-align: center; */
}

.faq h2{
  text-align: center;
  font-size: 30px;
  color: #025705;
}
.faq details {
  margin-bottom: 15px;
  border-bottom: 1px solid ;
  padding-bottom: 10px;
  border: none;
}
.faq summary {
  font-weight: bold;
  cursor: pointer;
  color: #025705;
  font-size: 15px;
}

.footer-note {
  text-align: center;
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid #eee;
  font-size: 0.9rem;
  color: #777;
} 

.mouka-footer {
  background-color: #1d4d2b; 
  color: #ffffff;
  padding: 60px 20px 20px;
}

.footer-content {
  max-width: 1200px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 40px;
}

.footer-brand h2 {
  color: #ffcc00; 
  margin-bottom: 15px;
  font-size: 1.8rem;
}

.footer-brand p {
  line-height: 1.6;
  font-size: 15px;
  color: #d1d1d1;
}

.footer-links h3 {
  font-size: 1.1rem;
  margin-bottom: 20px;
  display: inline-block;
  padding-bottom: 5px;
  color:  #ffcc00;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 12px;
}

.footer-links a {
  color: #d1d1d1;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-bottom {
  margin-top: 50px;
  padding-top: 20px;
  border-top: 1px solid #c5c2c2;
  text-align: center;
  font-size: 15px;
  color: #d1d1d1;
  width: 70%;
  margin: auto;  
}

.socials{
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 768px) {
  /* heading */
  .heading {
    padding-left: 40px;
    padding-right: 40px;
  }
  .hero-text h1 { font-size: 2.5rem; }
  .all-nav { display: none; }

  .hamburger {
    display: block;
    cursor: pointer;
  }
  
  /* header { padding: 80px 15px 60px; } */
  header h1 { font-size: 2.4em; }
  header p.question { font-size: 1.3em; }
}
    